@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&family=EB+Garamond&family=Fira+Code:wght@400;600:wght@400;600&display=swap');

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Gelion;
    line-height: 1.6;
    background-size: 200% 200%;
    background-color: #F5F3F7;
    display: flex;
    flex-direction: column;
}

.top-bar {
    padding: 10px;
    background-color: #F5F3F7;
    border-bottom: #dfe4ea 1px solid;
}

.top-bar .in-bar-title {
    background-image: linear-gradient(45deg, #8B5FBF, #D6C6E1, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientBG 10s ease infinite;
    font-family: Gelion, "Open Sans", Helvetica, "Helvetica Neue", Arial;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    display: block;
}

.top-bar .in-bar-subtitle {
    font-family: 'Crimson Pro';
    color: #878787;
    font-size: 1.1rem;
    margin-left: 30px;
    margin-top: -5px;
    display: block;
}

.container {
    font-size: 1.2rem;
    flex: 1 0 auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    margin-top: 40px;
    margin-bottom: 220px;
}

.fixed-bottom {
    background-image: linear-gradient(45deg, #ffffff, #E9E4ED);
    animation: gradientBG 10s ease infinite;
    border: 1.5px solid #E9E4ED;
    border-radius: 20px;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    left: 0;
    margin-top: auto !important;
    margin-bottom: 40px !important;
}

#sub-title {
    color: #4A4A4A;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 1.2rem;
}

.choose {
    display: flex;
    margin-bottom: 10px;
}

.choose-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

input,
select {
    border: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

select {
    background-color: #E9E4ED !important;
    width: 220px !important;
}

.form-control {
    white-space: nowrap;
    border: 1px solid #8787877c;
    border-radius: 20px;
}

.form-group {
    position: relative;
}

input::placeholder {
    color: #878787;
}

input:hover,
input:focus,
select:hover,
select:focus {
    background-color: #D6C6E1;
    border: 1px solid #878787;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: transparent;
    border: none;
    color: #8B5FBF;
    position: absolute;
    right: 5px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-secondary {
    background: transparent;
    border: none;
    float: right;
}

.btn:hover {
    opacity: 0.5;
    background-color: transparent;
    color: #8B5FBF;
}

.margin-div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.agent_response {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    background-color: #E9E4ED;
    color: #4A4A4A;
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
}

#output,
#reportContainer {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(181, 178, 178, 0.8);
}

#output {
    height: 250px;
    border-radius: 12px;
    overflow: auto;
    padding: 10px;
    margin-top: 15px;
}

#reportContainer {
    font-family: 'EB Garamond', serif;
    color: #4A4A4A;
    min-height: 550px;
    height: auto;
    overflow: auto;
    transition: all .3s ease-in-out;
    padding: 20px;
    border-radius: 12px;
    margin-top: 15px;
}

/* report css */
#reportContainer h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#reportContainer h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#reportContainer h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#reportContainer p {
    font-size: 1.3rem;
    margin-bottom: 5px;
}